/* font scales: http://www.modularscale.com/?1&em&1.333&web&text */
:root {
    --icon-size: 64px;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Cabin', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: inherit;
}

#name {
    font-family: 'Pacifico', cursive;
    font-size: 3.157em;
    text-align: center;
}

#coming-soon {
    text-align: center;
}

.wrapper {
    padding: 20px;
}

.logo {
    margin: 0 15px;
    width: var(--icon-size);
}

.logo:hover {
    opacity: 0.6;
}

#image-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#email-icon {
    font-size: var(--icon-size);
}

@media only screen and (min-width: 600px) {
    :root {
        --icon-size: 128px;
    }
}

