/* http://www.modularscale.com/?1&em&1.333&web&text */

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Cabin', sans-serif;
    color: white;
}

a {
    text-decoration: none; /* Remove default underlines for links */
    color: white;
}

a:visited {
    color: white;
}

h1 {
    margin: 0;
    font-size: 4.209em;
}

h2 {
    margin: 0;
    font-size: 3.157em;
}

h3 {
    margin: 0;
    font-size: 1.777em;
}

@media only screen and (min-width: 600px) {
    h3 {
        font-size: 2.369em;
    }
}

h4 {
    margin: 0;
    font-size: 1.333em;
}

@media only screen and (min-width: 600px) {
    h4 {
        font-size: 1.777em;
    }
}

p {
    margin: 0;
}

.page {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Home Page */
#home-page {
    position: relative;
    background-color: white;
    z-index: 3;
}

#title-panel-wrapper {
    height: 54%; /* Golden Ratio */
    display: flex;
}

.title-panel {
    flex-grow: 1;
    height: 100%;
}

#first-name-wrapper {
    background-color: #1976D2;
    color: white;
    text-align: right;
}

#last-name-wrapper {
    color: #1976D2;
}

.name {
    font-family: 'Pacifico', cursive;
    font-size: 3.157em;
    margin: 20vh 0.125em;
}

#home-panel-wrapper {
    height: 46%; /* Golden Ratio */
}

.home-panel {
    height: 25%;
    overflow: hidden;
}

.home-panel:hover {
    opacity: 0.6;
}

.panel-title {
    transition: transform 0.75s;
    height: 100%;
    font-size: 4vw;
    /* To center text */
    text-align: center;
    display: table;
    width: 100%;
}

.home-panel:hover .panel-title {
    transform: translateY(-100%);
}

.panel-text {
    display: table-cell;
    vertical-align: middle;
}

#web-panel {
    background-color: #03A9F4;
    width: 66%;
}

#music-panel {
    background-color: #00BCD4;
    width: 77%;
}

#physics-panel {
    background-color: #009688;
    width: 88%;
}

#writing-panel {
    background-color: #607D8B;
    width: 100%;
}

@media only screen and (min-width: 800px) {
    .name {
        font-size: 5.61em;
        margin: 15vh 0.125em;
    }

    .panel-title {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 1025px) {
    .panel-title {
        font-size: 2vw;
    }
}

/* Nav Bar */
#nav {
    position: fixed;
    width: 100%;
    height: 8%;
    top: 0;
    background-color: #1976D2;
    z-index: 2;
    display: flex;
    align-items: center;
}

.nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-links:hover {
    opacity: 0.6;
}

.material-icons, .fa {
    padding: 0 5px;
}

.material-icons {
    font-size: 36px;
}

.fa { /* Font Awesome icons look a bit bigger than material icons */
    font-size: 32px;
}

@media only screen and (min-width: 800px) {
    #nav {
        width: 8%;
        height: 100%;
        left: 92%;
        flex-direction: column;
    }
}

/* Content Pages */
.page-header-link {
    display: block;
    position: relative;
    top: 8%;
    left: 10%;
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-footer {
    position: absolute;
    bottom: 0;
    top: 90%;
    height: 10%;
    width: 85%;
}

.page-body {
    position: relative;
    top: 8%;
    height: 72%;
}

.page-body-row {
    display: flex;
    height: 50%;
}

.page-body-cell {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase {
    width: 80%;
    height: 80%;
    border-bottom: 3px solid #1976D2;
}

.showcase:hover {
    background-color: #E3F2FD;
}

@media only screen and (min-width: 800px) {
    .page-header-link {
        top: 0%;
        width: 82%;
    }

    .page-body {
        top: 0;
        width: 92%;
        height: 80%;
    }
}

/* Web Page */
#web-header-link {
    background-color: #03A9F4;
}

#web-footer {
    background-color: #03A9F4;
}

/* Music Page */
#music-header-link {
    background-color: #00BCD4;
}

#music-footer {
    background-color: #00BCD4;
}
