/* http://www.modularscale.com/?1&em&1.333&web&text */

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Cabin', sans-serif;
    color: white;
}

a {
    text-decoration: none; /* Remove default underlines for links */
    color: white;
}

a:visited {
    color: white;
}

a.external {
    text-decoration: underline;
}

a.external:hover, a:visited.external:hover {
    color: #1976D2;
}


h1 {
    margin: 0;
    font-size: 4.209em;
}

h2 {
    margin: 0;
    font-size: 3.157em;
}

h3 {
    margin: 0;
    font-size: 1.777em;
}

@media only screen and (min-width: 600px) {
    h3 {
        font-size: 2.369em;
    }
}

h4 {
    margin: 0;
    font-size: 1.333em;
}

@media only screen and (min-width: 600px) {
    h4 {
        font-size: 1.777em;
    }
}

p {
    margin: 0;
}

.page {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Home Page */
#home-page {
    position: relative;
    background-color: white;
    z-index: 3;
}

#title-panel-wrapper {
    height: 54%; /* Golden Ratio */
    display: flex;
}

.title-panel {
    flex-grow: 1;
    height: 100%;
}

#first-name-wrapper {
    background-color: #1976D2;
    color: white;
    text-align: right;
}

#last-name-wrapper {
    color: #1976D2;
}

.name {
    font-family: 'Pacifico', cursive;
    font-size: 3.157em;
    margin: 20vh 0.125em;
}

#home-panel-wrapper {
    height: 46%; /* Golden Ratio */
}

.home-panel {
    height: 25%;
    overflow: hidden;
}

.home-panel:hover {
    opacity: 0.6;
}

.panel-title {
    transition: transform 0.75s;
    height: 100%;
    font-size: 4vw;
    /* To center text */
    text-align: center;
    display: table;
    width: 100%;
}

.home-panel:hover .panel-title {
    transform: translateY(-100%);
}

.panel-text {
    display: table-cell;
    vertical-align: middle;
}

#web-panel {
    background-color: #03A9F4;
    width: 66%;
}

#music-panel {
    background-color: #00BCD4;
    width: 77%;
}

#physics-panel {
    background-color: #009688;
    width: 88%;
}

#writing-panel {
    background-color: #607D8B;
    width: 100%;
}

@media only screen and (min-width: 800px) {
    .name {
        font-size: 5.61em;
        margin: 15vh 0.125em;
    }

    .panel-title {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 1025px) {
    .panel-title {
        font-size: 2vw;
    }
}

/* Nav Bar */
#nav {
    position: fixed;
    width: 100%;
    height: 8%;
    top: 0;
    background-color: #1976D2;
    z-index: 2;
    display: flex;
    align-items: center;
}

.nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-links:hover {
    opacity: 0.6;
}

.nav-icon {
    padding: 0 5px;
}

.material-icons.nav-icon {
    font-size: 36px;
}

.fa.nav-icon { /* Font Awesome icons look a bit bigger than material icons */
    font-size: 32px;
}

@media only screen and (min-width: 800px) {
    #nav {
        width: 8%;
        height: 100%;
        left: 92%;
        flex-direction: column;
    }
}

/* Content Pages */
.page-header-link {
    display: block;
    position: relative;
    top: 8%;
    left: 10%;
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-footer {
    position: absolute;
    bottom: 0;
    top: 90%;
    height: 10%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-body {
    position: relative;
    top: 8%;
    height: 72%;
}

.page-body-row {
    display: flex;
    height: 50%;
}

.page-body-cell {
    flex-grow: 1;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase {
    border-bottom: 3px solid #1976d2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.showcase:hover {
    background-color: #E3F2FD;
    cursor: pointer;
}

.showcase-img {
    width: 60%;
    margin: 5% 0;
}

.showcase-title {
    color: #1976d2;
    margin: 5% 0;
}

.checkbox-hack {
    display: none;
}

.dialog {
    visibility: hidden;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-hack:checked + .dialog {
    visibility: visible;
}

.dialog-body {
    background-color: white;
    width: 90%;
    height: 80%;
}

.dialog-close {
    color: rgba(0, 0, 0, 0.54);
}

.dialog-close:hover {
    cursor: pointer;
}

.showcase, .text-bubble-wrapper {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
}

.text-bubble {
    font-size: 0.75em;
    line-height: 1.5em;
}

.text-bubble, .text-bubble a {
    color: #37474F;
}

@media only screen and (min-width: 800px) {
    .page-header-link {
        top: 3%;
        width: 82%;
    }

    .page-body {
        top: 3%;;
        width: 92%;
        height: 78%;
    }

    .showcase {
        flex-direction: row;
        justify-content: space-around;
    }

    .showcase-img {
        width: 40%;
        margin: 0 5%;
    }

    .showcase-title {
        color: #1976d2;
        margin: 0 5%;
        font-size: 1.777em;
    }

    .text-bubble {
        font-size: 1em; 
    }
    
    .page-footer {
        justify-content: flex-start;
    }

    .footer-text {
        font-size: 1.777em;
        padding-left: 5%;
    }
}

@media only screen and (min-width: 1025px) {
    .text-bubble {
        font-size: 1.333em; 
    }
}

/* Web Page */
#web-header-link {
    background-color: #03A9F4;
}

#web-footer {
    background-color: #03A9F4;
}

/* Music Page */
#music-header-link {
    background-color: #00BCD4;
}

#music-footer {
    background-color: #00BCD4;
}
