#app {
    height: 100%;
}

.page {
    width: 100%;
}

#title-page {
    height: 100%;
    background-color: var(--cerulean-1);
    z-index: -10; /* arbitary value below 0 */
    position: fixed;
}

#placeholder-page {
    height: 100%;
    z-index: -20; /* arbitary value below -10 */
    position: relative; /* required to make page go below fixed positioned title page */
}

#title-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#name-line {
    font-weight: normal;
}

#falling {
    background-color: rgb(121, 102, 87); /* From rocks at bottom of image */
    background-image: linear-gradient(
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.99)
    ), url('../images/falling.jpg');
    background-size: 600px;
    background-repeat: no-repeat;
    color: white;
}

#falling-placeholder {
    height: 150px;
}

#about-stripecard-primary {
    display: none;
}

.content-width-wrapper {
    max-width: var(--content-width);
    margin: auto;
}

.intro-text {
    margin: 30px 0;
}

.bold {
    font-weight: bold;
}

.page-text {
    margin: 15px 0;
}

.content-page {
    background-color: white;
    padding: 10px 0;
}

.icons {
    text-align: center;
    color: var(--cerulean-40);
    margin: 30px auto;
}

.icons#lg {
    display: none;
}

.project-summary-text {
    margin: 15px;
}

.project-summary-text.highlight {
    font-weight: bold;
}

.project-summary-icons {
    text-align: center;
}

#contact-content {
    margin: 60px 0;
}

#about-img-large-screen {
    display: none;
}

#scroll-prompt {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 50px;
    height: 50px;
    color: var(--cerulean-40);
}

@media only screen and (min-width: 600px) {
    #falling {
        background-size: 900px;
    }

    #falling-placeholder {
        height: 300px;
    }
}

@media only screen and (min-width: 840px) {
    #falling {
        background-size: 1100px;
    }

    #falling-placeholder {
        height: 340px;
    }
}

@media only screen and (min-width: 1024px) {
    #falling {
        background-image: linear-gradient(
            rgba(0,0,0,0.1),
            rgba(0,0,0,0.7)
        ), url('../images/falling_large.jpg');
        background-size: cover;
    }

    #falling-placeholder {
        height: 400px;
    }

    .large-project-display {
        display: flex;
        justify-content: space-between;
        margin: 30px auto;
    }

    .small-project-display {
        margin: 30px auto;
        justify-content: space-between;
    }

    .icons#sm {
        display: none;
    }

    .icons#lg {
        display: block;
    }

    .contact-btn {
        margin: 0 10px;
    }
}

@media only screen and (min-width: 1280px) {
    #falling {
        background-color: white;
        background-image: none;
        background-repeat: no-repeat;
        color: black;
    }

    #falling-placeholder {
        height: auto; /* default */
        margin: 50px 15px;
        width: 48%;
    }

    #about-stripecard-primary {
        display: flex; /* stripecard-container default */
    }

    #about-stripecard-white {
        display: none;
    }

    #about-content {
        display: flex;
        align-items: center;
    }

    #about-img-large-screen {
        display: inline-block;
        width: 500px;
        clip-path: circle(180px at 205px 180px);
    }

    #about-text-wrapper {
        margin: 15px;
        line-height: 1.5em;
    }

    .project-summary-text {
        line-height: 1.4em;
    }
}
