.project-display-container {
    position: relative;
    margin: 20px 0;
    width: 98%; /* Leave room for shadow */
    box-shadow: 5px 4px 3px var(--cool-gray-30);
    overflow: hidden;
    z-index: 10;
}

.project-display-container.open {
    margin-bottom: 5px;
    background-color: var(--cerulean-60);
}

.project-display-card {
    position: relative;
    background-size: contain;
}

.project-display-card.small {
    height: 50px;
}

.project-display-card:hover {
    cursor: pointer;
}

.project-display-placeholder-img {
    width: 100%;
    visibility: hidden;
    /* The image is a placeholder for the size of the parent div */
}

.project-display-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    line-height: 1em;
}

.project-display-expanded-header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-display-expanded-title {
    margin: 5px 10px;
}

.project-display-expanded-content {
}

.project-display-floor.open {
    position: relative;
    left: -10%;
    width: 120%;
    background-color: var(--cerulean-1);
}
